body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: linear-gradient(to right, #000, #272727);
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.my_photo {
    width: 20%;
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

nav {
    width: 100%;

    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    list-style-type: none;
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 0;
    transition: background 0.3s, color 0.3s;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #ffd700; /* Пример акцентного цвета: золотой */
}

section {
    padding: 20px;
    margin: 20px 10%;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.2);
}

.project {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;

    background-color: #fafafa;
    transition: transform 0.3s;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    background-color: #000;
    color: white;
    padding: 10px 0;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icon {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    transition: transform 0.3s;
}


.social-icon:hover {
    transform: scale(1.1);
}
.photo-carousel {
    position: relative;
    display: inline-block;
}

.my_photo {
    width: 300px; /* Ограничьте ширину изображения */
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 5px 10px;
    z-index: 10;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

/* Стиль для ссылки */
a {
    color: #2a99e3; /* Основной цвет ссылки */
    text-decoration: none; /* Убираем подчеркивание */
    transition: color 0.3s ease; /* Плавный переход цвета */
}

a:hover {
    color: #2980b9; /* Цвет ссылки при наведении */
    text-decoration: underline; /* Подчеркивание при наведении */
}

